---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=fdafda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":25,"perpage":1,"total":"25","photo":[{"id":"37477031760","owner":"43158830@N06","secret":"fdd6438641","server":"4467","farm":5,"title":"fdafda","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:13:19 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.getInfo&nojsoncallback=1&page=1&per_page=1&photo_id=37477031760
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"37477031760","secret":"fdd6438641","server":"4467","farm":5,"dateuploaded":"1508165252","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"30fe143dc7","originalformat":"jpg","owner":{"nsid":"43158830@N06","username":"Philadelphia
        Ronald McDonald House","realname":"Philadelphia Ronald McDonald House","location":"","iconserver":"7446","iconfarm":8,"path_alias":"philarmh"},"title":{"_content":"fdafda"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1508165252","taken":"2017-10-16
        09:42:43","takengranularity":"0","takenunknown":"0","lastupdate":"1508165293"},"views":"73","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/philarmh\/37477031760\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:13:19 GMT
recorded_with: VCR 6.0.0
