---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=e1cb2b9b88c8c195d4bd0106235a51af&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14955,"perpage":1,"total":"14955","photo":[{"id":"51139925445","owner":"20544648@N06","secret":"56d81b1099","server":"65535","farm":66,"title":"IMG_2289","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Mon, 26 Apr 2021 02:54:28 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=e1cb2b9b88c8c195d4bd0106235a51af&format=json&method=flickr.photos.getInfo&nojsoncallback=1&per_page=1&photo_id=51139925445
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51139925445","secret":"56d81b1099","server":"65535","farm":66,"dateuploaded":"1619400780","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"20544648@N06","username":"mudsharkalex","realname":"","location":null,"iconserver":"8132","iconfarm":9,"path_alias":"mudsharkalex"},"title":{"_content":"IMG_2289"},"description":{"_content":"4\/15\/2021
        -- Lucky us! We get to fly the Boeing Max 8."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619400780","taken":"2021-04-15
        19:15:01","takengranularity":"0","takenunknown":"0","lastupdate":"1619401666"},"views":"2","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"20499326-51139925445-3157","author":"20544648@N06","authorname":"mudsharkalex","raw":"Colorado","_content":"colorado","machine_tag":false},{"id":"20499326-51139925445-9669","author":"20544648@N06","authorname":"mudsharkalex","raw":"Denver","_content":"denver","machine_tag":false},{"id":"20499326-51139925445-85148","author":"20544648@N06","authorname":"mudsharkalex","raw":"Denver
        CO","_content":"denverco","machine_tag":false},{"id":"20499326-51139925445-2695","author":"20544648@N06","authorname":"mudsharkalex","raw":"airport","_content":"airport","machine_tag":false},{"id":"20499326-51139925445-446848","author":"20544[...]
