---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=fdafdaskyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 23:42:18 GMT
recorded_with: VCR 6.0.0
