---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/cities/?limit=1&search=fdsafdsafd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"city:search-results":[]},"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/cities/?search=fdsafdsafd\u0026geohash="}},"count":0}'
  recorded_at: Wed, 28 Apr 2021 14:55:41 GMT
- request:
    method: get
    uri: https://api.teleport.org/api/cities/geonameid:5419384/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"city:admin1_division":{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/admin1_divisions/geon[...]
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely&lat=39.73915&lon=-104.9847&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619621732,"sunrise":1619611423,"sunset":1619661047,"temp":40.93,"feels_like":36.43,"pressure":1016,"humidity":91,"dew_point":38.52,"uvi":1.34,"clouds":100,"visibility":871,"wind_speed":6.71,"wind_deg":312,"wind_gust":15.08,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.21}},"hourly":[{"dt":1619618400,"temp":40.87,"feels_like":36.55,"pressure":1016,"humidity":92,"dew_point":38.73,"uvi":0.54,"clouds":100,"visibility":215,"wind_speed":6.38,"wind_deg":320,"wind_gust":13.8,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.7}},{"dt":1619622000,"temp":40.93,"feels_like":36.43,"pressure":1016,"humidity":91,"dew_point":38.52,"uvi":1.34,"clouds":100,"visibility":871,"wind_speed":6.71,"wind_deg":312,"wind_gust":15.08,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.96,"rain":{"1h":0.21}},{"dt":1619625600,"temp":41.45,"feels_like":36.61,"pressure":1016,"humidity":89,"dew_point":38.46,"uvi":2.99,"clouds":100,"visibility":2350,"wind_speed":7.52,"wind_deg":341,"w[...]
[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:denver/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":52755.545248860515,"percentile_50":66050.59588847861,"percentile_75":82696.16391306919}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":46322.45959499479,"percentile_50":55013.10116503102,"percentile_75":65334.209933035345}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":31245.705520432653,"percentile_50":37629.15344764931,"percentile_75":45316.72963059826}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":43470.9633[...]
