---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/cities/?limit=1&search=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"city:search-results":[{"_links":{"city:item":{"href":"https://api.teleport.org/api/cities/geonameid:4887398/"}},"matching_alternate_names":[{"name":"Chicago"}],"matching_full_name":"Chicago,
        Illinois, United States"}]},"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/cities/?search=chicago\u0026geohash="}},"count":1}'
  recorded_at: Wed, 28 Apr 2021 14:55:40 GMT
- request:
    method: get
    uri: https://api.teleport.org/api/cities/geonameid:4887398/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"city:admin1_division":{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/admin1_divisions/geona[...]
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely&lat=41.85003&lon=-87.65005&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.85,"lon":-87.65,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619621736,"sunrise":1619607025,"sunset":1619657125,"temp":47.23,"feels_like":42.48,"pressure":1013,"humidity":76,"dew_point":40.06,"uvi":3.41,"clouds":90,"visibility":10000,"wind_speed":10.36,"wind_deg":40,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619618400,"temp":47.82,"feels_like":44.49,"pressure":1013,"humidity":79,"dew_point":41.63,"uvi":1.92,"clouds":92,"visibility":10000,"wind_speed":7.16,"wind_deg":6,"wind_gust":9.42,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.76,"rain":{"1h":0.23}},{"dt":1619622000,"temp":47.23,"feels_like":41.97,"pressure":1013,"humidity":76,"dew_point":40.06,"uvi":3.41,"clouds":90,"visibility":10000,"wind_speed":11.88,"wind_deg":15,"wind_gust":16.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1619625600,"temp":47.16,"feels_like":41.85,"pressure":1013,"humidity":79,"dew_point":40.98,"uvi":2.62,"clouds":92,"visibility":10000,"wind_speed":12.01,"wind_deg":23,"wind_gust":19.8,"weat[...]
[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chicago/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chicago/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:chicago/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":53732.4997858553,"percentile_50":67273.75507905365,"percentile_75":84227.57438186172}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":47248.90878754866,"percentile_50":56113.363186966664,"percentile_75":66640.89412753156}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":34905.11247717241,"percentile_50":42036.17141703129,"percentile_75":50624.09435172754}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":60760.55104[...]
