---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14957,"perpage":1,"total":"14957","photo":[{"id":"51142231625","owner":"20544648@N06","secret":"b81631d2df","server":"65535","farm":66,"title":"IMG_23478","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 03:48:07 GMT
recorded_with: VCR 6.0.0
