---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=e1cb2b9b88c8c195d4bd0106235a51af&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14955,"perpage":1,"total":"14955","photo":[{"id":"51139925445","owner":"20544648@N06","secret":"56d81b1099","server":"65535","farm":66,"title":"IMG_2289","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Mon, 26 Apr 2021 15:05:42 GMT
recorded_with: VCR 6.0.0
