---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&exclude=minutely&lat=39.612&lon=-105.016&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6127,"lon":-105.0162,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619305482,"sunrise":1619266157,"sunset":1619315198,"temp":65.84,"feels_like":63.01,"pressure":1008,"humidity":19,"dew_point":23.56,"uvi":2.14,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":90,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619305200,"temp":65.84,"feels_like":63.01,"pressure":1008,"humidity":19,"dew_point":23.56,"uvi":2.14,"clouds":75,"visibility":10000,"wind_speed":2.39,"wind_deg":291,"wind_gust":14.83,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619308800,"temp":65.68,"feels_like":62.89,"pressure":1007,"humidity":20,"dew_point":24.53,"uvi":0.86,"clouds":80,"visibility":10000,"wind_speed":3.31,"wind_deg":276,"wind_gust":15.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619312400,"temp":63.75,"feels_like":60.91,"pressure":1006,"humidity":23,"dew_point":26.06,"uvi":0.21,"clouds":85,"visibility":10000,"wind_speed":0.96,"wind_deg":256,"wind_gust":13,"weather":[{"id":804,[...]
