---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&exclude=minutely&lat=39.612&lon=-105.016&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.612,"lon":-105.016,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619449543,"sunrise":1619438799,"sunset":1619488119,"temp":64.08,"feels_like":60.75,"pressure":1004,"humidity":12,"dew_point":12.81,"uvi":2.25,"clouds":40,"visibility":10000,"wind_speed":19.57,"wind_deg":210,"wind_gust":25.32,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619449200,"temp":64.08,"feels_like":60.75,"pressure":1004,"humidity":12,"dew_point":12.81,"uvi":2.25,"clouds":40,"visibility":10000,"wind_speed":6.17,"wind_deg":184,"wind_gust":9.69,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619452800,"temp":64.67,"feels_like":61.45,"pressure":1003,"humidity":13,"dew_point":14.85,"uvi":4.24,"clouds":39,"visibility":10000,"wind_speed":6.4,"wind_deg":201,"wind_gust":16.42,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619456400,"temp":66.63,"feels_like":63.52,"pressure":1001,"humidity":11,"dew_point":12.85,"uvi":6.36,"clouds":43,"visibility":10000,"wind_speed":7.74,"wind_deg":226,"wind_gust":18.52,"weather":[{"id"[...]
