---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&exclude=minutely&lat=39.612&lon=-105.016&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.612,"lon":-105.016,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619280983,"sunrise":1619266157,"sunset":1619315198,"temp":46.18,"feels_like":46.18,"pressure":1015,"humidity":70,"dew_point":36.95,"uvi":3.98,"clouds":40,"visibility":10000,"wind_speed":1.34,"wind_deg":146,"wind_gust":4.85,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619280000,"temp":46.18,"feels_like":46.18,"pressure":1015,"humidity":70,"dew_point":36.95,"uvi":3.98,"clouds":40,"visibility":10000,"wind_speed":1.34,"wind_deg":146,"wind_gust":4.85,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619283600,"temp":48.09,"feels_like":48.09,"pressure":1014,"humidity":62,"dew_point":35.71,"uvi":5.99,"clouds":39,"visibility":10000,"wind_speed":1.54,"wind_deg":103,"wind_gust":5.41,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619287200,"temp":51.69,"feels_like":49.01,"pressure":1012,"humidity":52,"dew_point":34.66,"uvi":7.55,"clouds":42,"visibility":10000,"wind_speed":3.11,"wind_deg":98,"wind_gust":6.82,"weather":[{"id":8[...]
