---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 02:09:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-369386547"}]}]}'
  recorded_at: Sat, 24 Apr 2021 02:09:35 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&lat=39.612653&lon=-105.016198
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6127,"lon":-105.0162,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619230175,"sunrise":1619179838,"sunset":1619228738,"temp":281.99,"feels_like":280.21,"pressure":1013,"humidity":43,"dew_point":270.46,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":3.09,"wind_deg":80,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1619230200,"precipitation":0},{"dt":1619230260,"precipitation":0},{"dt":1619230320,"precipitation":0},{"dt":1619230380,"precipitation":0},{"dt":1619230440,"precipitation":0},{"dt":1619230500,"precipitation":0},{"dt":1619230560,"precipitation":0},{"dt":1619230620,"precipitation":0},{"dt":1619230680,"precipitation":0},{"dt":1619230740,"precipitation":0},{"dt":1619230800,"precipitation":0},{"dt":1619230860,"precipitation":0},{"dt":1619230920,"precipitation":0},{"dt":1619230980,"precipitation":0},{"dt":1619231040,"precipitati[...]
