---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ENV[key]&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 14:55:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ENV[key]&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1991640467"}]}]}'
  recorded_at: Wed, 28 Apr 2021 14:55:38 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely&lat=39.612653&lon=-105.016198&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6127,"lon":-105.0162,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619621737,"sunrise":1619611444,"sunset":1619661041,"temp":40.14,"feels_like":34.72,"pressure":1019,"humidity":95,"dew_point":38.82,"uvi":1.04,"clouds":90,"visibility":10000,"wind_speed":8.05,"wind_deg":300,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":1}},"hourly":[{"dt":1619618400,"temp":40.06,"feels_like":36.16,"pressure":1019,"humidity":96,"dew_point":39.02,"uvi":0.41,"clouds":92,"visibility":118,"wind_speed":5.53,"wind_deg":322,"wind_gust":11.9,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.88}},{"dt":1619622000,"temp":40.14,"feels_like":35.92,"pressure":1019,"humidity":95,"dew_point":38.82,"uvi":1.04,"clouds":90,"visibility":406,"wind_speed":5.99,"wind_deg":313,"wind_gust":12.71,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.98,"rain":{"1h":1}},{"dt":1619625600,"temp":40.44,"feels_like":36.39,"pressure":1019,"humidity":94,"dew_point":38.86,"uvi":2.16,"clouds":92,"visibility":680,"wind_speed":5.84,"wind_deg":324,"wind_g[...]
