---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ENV[key]&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 18:07:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ENV[key]&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1080728183"}]}]}'
  recorded_at: Tue, 27 Apr 2021 18:07:12 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely&lat=39.612653&lon=-105.016198&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6127,"lon":-105.0162,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619546830,"sunrise":1619525121,"sunset":1619574580,"temp":52.29,"feels_like":50.56,"pressure":1011,"humidity":71,"dew_point":43.18,"uvi":4.48,"clouds":90,"visibility":10000,"wind_speed":12.66,"wind_deg":320,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619546400,"temp":52.29,"feels_like":50.56,"pressure":1011,"humidity":71,"dew_point":43.18,"uvi":4.48,"clouds":90,"visibility":10000,"wind_speed":7.87,"wind_deg":24,"wind_gust":10.83,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.95,"rain":{"1h":0.7}},{"dt":1619550000,"temp":51.19,"feels_like":49.48,"pressure":1010,"humidity":74,"dew_point":43.2,"uvi":2.03,"clouds":92,"visibility":2480,"wind_speed":6.35,"wind_deg":289,"wind_gust":6.78,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.86},{"dt":1619553600,"temp":49.1,"feels_like":45.93,"pressure":1009,"humidity":79,"dew_point":42.87,"uvi":1.9,"clouds":94,"visibility":10000,"wind_speed":7.38,"wind_deg":290,"wind_gust":9.01,"weather":[...]
