---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 15:05:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-216161672"}]}]}'
  recorded_at: Mon, 26 Apr 2021 15:05:39 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619449488,"sunrise":1619438778,"sunset":1619488125,"temp":64.6,"feels_like":61.41,"pressure":1002,"humidity":14,"dew_point":16.3,"uvi":2.05,"clouds":35,"visibility":10000,"wind_speed":4,"wind_deg":103,"wind_gust":10,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619449200,"temp":64.6,"feels_like":61.41,"pressure":1002,"humidity":14,"dew_point":16.3,"uvi":2.05,"clouds":35,"visibility":10000,"wind_speed":6.13,"wind_deg":190,"wind_gust":7.76,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619452800,"temp":65.01,"feels_like":61.83,"pressure":1001,"humidity":13,"dew_point":15.1,"uvi":3.91,"clouds":35,"visibility":10000,"wind_speed":5.97,"wind_deg":171,"wind_gust":9.13,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619456400,"temp":67.23,"feels_like":64.17,"pressure":1000,"humidity":11,"dew_point":13.26,"uvi":5.83,"clouds":40,"visibility":10000,"wind_speed":2.86,"wind_deg":172,"wind_gust":13.27,"weather":[{"id":[...]
