---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=bef09550db18dc865ace667b40b8479e&exclude=minutely&lat=39.612&lon=-105.016&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.612,"lon":-105.016,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619405668,"sunrise":1619352477,"sunset":1619401659,"temp":69.28,"feels_like":66.42,"pressure":1003,"humidity":11,"dew_point":14.68,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":16.11,"wind_deg":250,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1619402400,"temp":68.25,"feels_like":65.44,"pressure":1002,"humidity":14,"dew_point":18.91,"uvi":0,"clouds":32,"visibility":10000,"wind_speed":9.15,"wind_deg":223,"wind_gust":18.75,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1619406000,"temp":69.28,"feels_like":66.42,"pressure":1003,"humidity":11,"dew_point":14.68,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":10.74,"wind_deg":215,"wind_gust":20.58,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1619409600,"temp":67.44,"feels_like":64.54,"pressure":1002,"humidity":14,"dew_point":18.34,"uvi":0,"clouds":32,"visibility":10000,"wind_speed":9.93,"wind_deg":211,"wind_gust":16.53,"weather":[{"id":802[...]
