---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 02:54:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=AGmm8HbFGJGNFBftGEIaumSwARk2P9bU&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2041919886"}]}]}'
  recorded_at: Mon, 26 Apr 2021 02:54:27 GMT
recorded_with: VCR 6.0.0
