---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ENV[key]&location=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 23:42:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"littleton,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Littleton","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038918","unknownInput":"","type":"s","latLng":{"lat":39.612653,"lng":-105.016198},"displayLatLng":{"lat":39.612653,"lng":-105.016198},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ENV[key]&type=map&size=225,160&locations=39.612653,-105.016198|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-957309715"}]}]}'
  recorded_at: Tue, 27 Apr 2021 23:42:16 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely&lat=39.612653&lon=-105.016198&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6127,"lon":-105.0162,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619566936,"sunrise":1619525121,"sunset":1619574580,"temp":48.51,"feels_like":43.03,"pressure":1010,"humidity":71,"dew_point":39.54,"uvi":0.29,"clouds":90,"visibility":10000,"wind_speed":13.8,"wind_deg":30,"wind_gust":21.85,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.76}},"hourly":[{"dt":1619564400,"temp":48.49,"feels_like":44.02,"pressure":1009,"humidity":72,"dew_point":39.88,"uvi":0.71,"clouds":88,"visibility":10000,"wind_speed":10.42,"wind_deg":20,"wind_gust":13.18,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.37}},{"dt":1619568000,"temp":48.51,"feels_like":43.99,"pressure":1010,"humidity":71,"dew_point":39.54,"uvi":0.29,"clouds":90,"visibility":10000,"wind_speed":10.56,"wind_deg":15,"wind_gust":13.02,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.75}},{"dt":1619571600,"temp":48.2,"feels_like":42.78,"pressure":1010,"humidity":73,"dew_point":39.97,"uvi":0.04,"clouds":92,"visibility":10000,"wind_speed":13.33,"wind_deg":35,"win[...]
[...]
