---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=littleton,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":546,"perpage":1,"total":"546","photo":[{"id":"51129621214","owner":"56683178@N06","secret":"5e24d57c58","server":"65535","farm":66,"title":"ATSF
        5086 #230QQ050 Southbound Coal Load at Littleton, CO  July 31, 1988","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 18:07:08 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=ENV[api_key]&format=json&method=flickr.photos.getInfo&nojsoncallback=1&page=1&per_page=1&photo_id=51129621214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51129621214","secret":"5e24d57c58","server":"65535","farm":66,"dateuploaded":"1619023599","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"7c319e4dab","originalformat":"jpg","owner":{"nsid":"56683178@N06","username":"blupenny99","realname":"tom
        byrnas","location":"Brighton, CO, USA","iconserver":"65535","iconfarm":66,"path_alias":"20tcb10"},"title":{"_content":"ATSF
        5086 #230QQ050 Southbound Coal Load at Littleton, CO  July 31, 1988"},"description":{"_content":"A
        Houston coal load (UFIX reporting marks) begins its descent into the Littleton
        depression, a grade crossing elimination project.  With 6 motors on the head
        end and two pushers on the rear, this load will make good time to Palmer Lake.  The
        helper set is at the Rio Grande controlled Littleton Cross-over and is trying
        to get to the BN Denver Terminal to complete their trip.  Good luck to them.  They
        may still be there. "},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619023599","taken":"1988-07-31
        12:29:27","takengranularity":"0","takenunknown":"0","lastupdate":"1619281287"},"views":"200","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"2"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"56637856-51129621214-599866","author":"56683178@N06","authorname":"blupenny99","raw":"ATSF","_content":"atsf","machine_tag":0},{"id":"56637856-51129621214-10304","author":"56683178@N06","authorname":"blupenny99","raw":"BN","_content":"bn","machine_tag":0},{"id":"56637856-51129621214-321855694","author":"56683178@N06","authorname":"blupenny99","raw":"Santa
        Fe Rwy","_content":"santaferwy","machine_tag":0},{"id":"56637856-51129621214-350586","author":"56683178@N06","authorname":"blupenny99","raw":"Burlington
        Northern","_content":"burlingtonnorthern","machine_tag":0},{"id":"56637856-51129621214-14369954","author":"56683178@N06","authorname":"blupenny99","raw":"Joint
        Line","_content":"jointline","machine_tag":0},{"id":"56637856-51129621214-11757816","author":"56683178@N06","authorname":"blupenny99","raw":"Littleton,
        CO","_content":"littletonco","machine_tag":0},{"id":"56637856-51129621214-3157","author":"56683178@N06","authorname":"blupenny99","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"56637856-51129621214-8854","author":"56683178@N06","authorname":"blupenny99","raw":"Trains","_content":"trains","machine_tag":0},{"id":"56637856-51129621214-92338","author":"56683178@N06","authorname":"blupenny99","raw":"Railroads","_content":"railroads","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/20tcb10\/51129621214\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 18:07:08 GMT
recorded_with: VCR 6.0.0
